.form{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input{
    height: 50px;
    border: 3px solid #eee;
    padding-left: 10px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .form__input {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}

.form__button {
    height: 50px;
    font-size: 20px;
    background-color: teal;
    color: white;
    border: none;
    padding: 15px;
    transition: 2s;
    
}

.form__button:hover {
    height: 50px;
    font-size: 20px;
    background-color: hsl(180, 100%, 45%);
    color: white;
    border: none;
    padding: 15px;
    transform: scale(1.2);
    
}

@media (max-width: 767px) {
    .form__button {
        flex-grow: 1;
    }
}

.form__removeButton {
    background-color: red;
    margin-left:10px;
    text-decoration:none;
    
}

.form__doneButton--done {
    background-color:green;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.form__doneButton {
    margin-right: 10px;
    background-color: green;
    width: 20px;
    height: 20px;
}


