.tasksList{
    list-style-type: none;
    padding:10px;
    margin: 0;
}

.tasksList__item {
    
    border-bottom: 3px solid #eee;
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-gap:10px;
    align-items:center;
    padding:10px;
    border-bottom: 1px solid #ddd;

}

.tasksList__item--hidden {

    display:none;

}

.tasksList__button {
    background-color: green;
    width: 30px;
    height: 30px;
    border: none;
    flex-shrink: 0;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.tasksList__button--remove {
    background-color: red;
    background-image: url("./images/trashcan.png");   
}

.tasksList__button--checked {
    background-image: url("./images/tick.png");
}

.tasksList__content {
    flex-grow: 1;
    margin: 0 10px;
}

.tasksList__content--done {
    text-decoration: line-through;
}