.buttons{
    display:flex;
    flex-wrap:wrap;
}


.buttons__button {
    background:transparent;
    color:teal;
    border:none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
    padding: 15px;
    
}

.buttons__button:disabled {
    background:transparent;
    color: hsl(180, 1%, 75%);
    border:none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
    
}


.buttons__button:hover {
    transform:scale(1.1);
    transition: 1s;
    background-color: hsl(180, 100%, 45%);
    color: white;
    border: none;
}